* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #141619;
    font-family: 'Inter', sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;

    height: 80px;
    background-color: #191C20;
}

.header-container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img {
    height: 96px;
    display: block;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 32px;
}

.nav-item > a {
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;

    display: inline-block;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-item > a:visited {
    color: #FFFFFF;
}
